{% extends 'base.html.twig' %}

{% block title %}Contacto index{% endblock %}

{% block body %}
    {#Navbar#}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">HARMAN</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contactos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Tipo contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

     {#Contenido#}
    <br>
    <h1>Contacto index</h1>

    <div class="page-content container">
        <div class="panel-heading" style="background:#046F75;"> <!-- Encabezado de la pagina -->
            <h3 class="panel-title" style="color:white;">Contacto table</h3>
        </div>
        <div class="row">
            <div class="col-md-12"><!-- INICIO FORMULARIO -->
                <div class="panel">
                    <div class="panel-body container-fluid"><!-- CONTENIDO DEL FORMULARIO -->

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>NombreContacto</th>
                                <th>OrganizacionContacto</th>
                                <th>DomicilioContacto</th>
                                <th>NotaContacto</th>
                                <th>UsoContacto</th>
                                <th>StatusContacto</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for contacto in contactos %}
                            <tr>
                                <td>{{ contacto.id }}</td>
                                <td>{{ contacto.nombreContacto }}</td>
                                <td>{{ contacto.organizacionContacto }}</td>
                                <td>{{ contacto.domicilioContacto }}</td>
                                <td>{{ contacto.notaContacto }}</td>
                                <td>{{ contacto.usoContacto }}</td>
                                <td>{{ contacto.statusContacto }}</td>
                                <td>
                                    <a href="{{ path('contacto_show', {'id': contacto.id}) }}"><button type="button" class="btn btn-outline-secondary">show</a>
                                    <a href="{{ path('contacto_edit', {'id': contacto.id}) }}"><button type="button" class="btn btn-outline-dark">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <a href="{{ path('contacto_new') }}"><button type="button" class="btn btn-outline-info">New</button></a>
                        
                    </div><!-- CONTENIDO DEL FORMULARIO -->
                </div>
            </div><!-- FIN FORMULARIO -->
        </div>
    </div>
{% endblock %}
