{% extends 'base.html.twig' %}

{% block title %}Contacto index{% endblock %}

{% block body %}
    <h1>Contacto index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NombreContacto</th>
                <th>OrganizacionContacto</th>
                <th>DomicilioContacto</th>
                <th>NotaContacto</th>
                <th>UsoContacto</th>
                <th>StatusContacto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contacto in contactos %}
            <tr>
                <td>{{ contacto.id }}</td>
                <td>{{ contacto.nombreContacto }}</td>
                <td>{{ contacto.organizacionContacto }}</td>
                <td>{{ contacto.domicilioContacto }}</td>
                <td>{{ contacto.notaContacto }}</td>
                <td>{{ contacto.usoContacto }}</td>
                <td>{{ contacto.statusContacto }}</td>
                <td>
                    <a href="{{ path('contacto_show', {'id': contacto.id}) }}">show</a>
                    <a href="{{ path('contacto_edit', {'id': contacto.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contacto_new') }}">Create new</a>
{% endblock %}
